<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
    <script>
        function preencherFormulario(aluno) {
            document.getElementById('nome_aluno').value = aluno.Nome_aluno;
            document.getElementById('ra').value = aluno.RA;
            document.getElementById('data_nascimento').value = aluno.Data_de_Nascimento;
            document.getElementById('responsavel').value = aluno.Responsavel;
            document.getElementById('telefone').value = aluno.Telefone;
            document.getElementById('endereco').value = aluno.Endereco;
            document.getElementById('bairro').value = aluno.Bairro;
            document.getElementById('cidade').value = aluno.Cidade;
            document.getElementById('usuarios').value = aluno.usuarios_idUsuarios;
            document.getElementById('Escola').value = aluno.Escola_idEscola;
            document.getElementById('Professor').value = aluno.Professor_idProfessor;
            document.getElementById('Assistente_Educacional').value = aluno. Assistente_Educacional;
            document.getElementById('Aee_acompanhamento').value = aluno.AEE_Acompanhamento
        }

        function buscarAluno(idAluno) {
            fetch('/aluno/' + idAluno + '/detalhes')
                .then(response => response.json())
                .then(data => preencherFormulario(data))
                .catch(error => console.error('Erro:', error));
        }
    </script>
</head>
<body>
    <h1>Alunos</h1>

    <ul>
        {% for aluno in alunos %}
            <li><a href="javascript:void(0)" onclick="buscarAluno({{ aluno,idAluno }})">{{ alunoNome_aluno }}</a></li>
        {% endfor %}
    </ul>

    <h2>Adicionar ou Ver Detalhes do Aluno</h2>
    <form method="POST" action="{{ url_for('aluno.manage_alunos') }}">
        <input type="text" id="nome_aluno" name="nome_aluno" placeholder="Nome do Aluno" required><br>
        <input type="number" id="ra" name="ra" placeholder="RA" required><br>
        <input type="date" id="data_nascimento" name="data_nascimento" placeholder="Data de Nascimento" required><br>
        <input type="text" id="responsavel" name="responsavel" placeholder="Responsável" required><br>
        <input type="text" id="telefone" name="telefone" placeholder="Telefone" required><br>
        <input type="text" id="endereco" name="endereco" placeholder="Endereço" required><br>
        <input type="text" id="bairro" name="bairro" placeholder="Bairro" required><br>
        <input type="text" id="cidade" name="cidade" placeholder="Cidade" required><br>
        <input type="text" id="usuarios" name="usuarios" placeholder="usuarios" required><br>
        <input type="text" id="escola" name="escola" placeholder="escola" required><br>
        <input type="text" id="professor" name="professor" placeholder="professor" required><br>
        <input type="text" id="assistente_educacional" name="assistente_educacional" placeholder="assistente_educacional" required><br>
        <input type="text" id="aee_acompanhamento_idaee" name="aee_acompanhamento_idaee" placeholder="aee_acompanhamento_idaee" required><br>
        <button type="submit">Adicionar Aluno</button>
    </form>
</body>
</html>
