<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMCND</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css">
  </head>
  <body>
    <h1>Sistema de Monitoramente para Crianças Neuro Divergentes</h1>
    <a href="#" class="btn btn-primary">acesse</a>
    <script src="node_module/jquery/dist/jquery.js"></script></script>
    <script src="node_module/popper.js/dist/popper.js"></script></script>
    <script src="node_module/bootstrap/dist/bootstrap.js"></script></script>
  </body>
</html>